<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <base href="http://127.0.0.1:8080/public/">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" href="css/normalize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link rel="stylesheet" href="../node_modules/material-components-web/dist/material-components-web.css"> -->
  <link rel="stylesheet" href="css/material-components-web.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <header class="mdc-toolbar mdc-toolbar--fixed mdc-toolbar--fixed-lastrow-only mdc-toolbar--waterfall">
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section">
        <span class="mdc-toolbar__title">Sowmya's Recipes</span>
      </section>
    </div>
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section" role="toolbar">
        <nav class="mdc-tab-bar">
          <a class="mdc-tab mdc-tab--active" href="#one">Home</a>
          <a class="mdc-tab" href="#two">Categories</a>
          <a class="mdc-tab" href="#three">About</a>
          <span class="mdc-tab-bar__indicator"></span>
        </nav>
      </section>
    </div>
  </header>

  <div class="main-container mdc-toolbar-fixed-adjust">
    {{> body}}
  </div>

  <footer class="footer-container mdc-toolbar">
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section">
        <span class="mdc-toolbar__title">Copyright &copy; 2017, Sowmya B A</span>
      </section>
    </div>
  </footer>
  <!-- <script src="../node_modules/material-components-web/dist/material-components-web.js"></script> -->
  <script src="js/material-components-web.js"></script>
  <script>
    mdc.autoInit();
    var toolbar = mdc.toolbar.MDCToolbar.attachTo(document.querySelector('.mdc-toolbar'));
    toolbar.fixedAdjustElement = document.querySelector('.mdc-toolbar-fixed-adjust');
  </script>
  <script src="js/index.js"></script>
</body>

</html>
