<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <base href="http://127.0.0.1:8080/public/">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="../node_modules/material-components-web/dist/material-components-web.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <header class="mdc-toolbar mdc-toolbar--fixed mdc-toolbar--waterfall">
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
        <span class="mdc-toolbar__title">Sowmya's Recipes</span>
      </section>
      <!-- <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
        <a href="#" class="material-icons" aria-label="Bookmark this page" alt="Bookmark this page">bookmark</a>
      </section> -->
    </div>
  </header>

  {{> body}}

  <div class="footer-container">
    <footer class="wrapper">
      <p>Copyright &copy; 2017, Sowmya B A</p>
    </footer>
  </div>
  <script src="../node_modules/material-components-web/dist/material-components-web.js"></script>
  <script>
    mdc.autoInit()
  </script>
  <script src="js/index.js"></script>
</body>

</html>
